@import url('https://fonts.googleapis.com/css?family=Poppins');


#UofMContact a:hover{
    color: #FFB511;
    text-decoration: none;
    font-weight: none;
    transition: 0.3s;
}

#UofMContact a {
    font-family: Poppins;
    color: #862633;
    font-size: 1em;
}

#UofMContact p {
    font-family:  Poppins;
    font-size: 1em;
}


#UofMContact .homeText {
    margin-top: 5em;
}

#UofMContact .colorChange{
    font-family: 'Oswald', sans-serif;
    color: #862633;
}

#UofMContact .textChange{
    font-size: 0.8em;
}

#UofMContact h4 {
    font-size: 1em;
}


#UofMContact h1 {
    font-size: 1.6em;
}

#UofMContact h3 {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;

}

#UofMContact .about-profile-pic {
    width: 100%;
    height: 100%;
    float: left;
}

#UofMContact .fontChange {
    font-family: "Poppins", sans-serif;

}



#UofMContact .backgroundGradient {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-image: linear-gradient(white, #862633);
}

#UofMContact .e_gradient {
    box-shadow: 45px 45px 5px rgba(0, 0, 0, 0.2), 90px 90px rgba(245, 130, 32, 100);
}

#UofMContact .sa_gradient {
    box-shadow: 45px 45px 5px rgba(0, 0, 0, 0.2), 90px 90px rgba(189, 77, 156, 100);
}

#UofMContact .program_gradient {
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.2), 40px 40px rgba(134, 38, 51, 100);
}

#UofMContact .new{
    color: #862634;
    font-size: 1vw;
    text-decoration: none;
}

#UofMContact .ProgramText{

    color: #862634;
    font-size: 1.5vw;
    text-decoration: none;
}